
# The name of this bundle.
name = "tor-source-bundle"
# Version of the bundle
version = [0, 2, 1, 6]
# Where does it go in the repository?
location = "/bundleinfo/tor/source/tor-source-bundle-0.2.1.6.txt"
os = "source"
arch = "noarch"

# This is one of the packages in the bundle.  There can be as many as you
# like.
Package(name="tor-source",
	order=(10,10,10),
	optional=False)
# The "Glosses" describe a package's purpose in the bundle.
ShortGloss("en", "Example package is needed to make the ossifrage squeamish.")
LongGloss("en", "You wouldn't want an unsqueamish ossifrage, would you?")

