
# The name of this bundle.
name = "tor-win32-bundle"
# Version of the bundle
version = [0, 2, 1, 7]
# Where does it go in the repository?
location = "/bundleinfo/tor/source/tor-win32-bundle-0.2.1.7.txt"
os = "win32"
arch = "x86"

# This is one of the packages in the bundle.  There can be as many as you
# like.
Package(name="tor-win32",
	order=(10,10,10),
	optional=False)
# The "Glosses" describe a package's purpose in the bundle.
ShortGloss("en", "Tor win32 exe, only Tor.")
LongGloss("en", "Really just the Tor win32 exe.")

