
# The name of this bundle.
name = "polipo-win32-bundle"
# Version of the bundle
version = [1, 0, 4, 1]
# Where does it go in the repository?
location = "/bundleinfo/polipo/win32/polipo-win32-bundle-1.0.4.1.txt"
os = "win32"
arch = "x86"

# This is one of the packages in the bundle.  There can be as many as you
# like.
Package(name="polipo",
	order=(10,10,10),
	optional=False)
# The "Glosses" describe a package's purpose in the bundle.
ShortGloss("en", "Polipo web proxy win32 installer.")
LongGloss("en", "This is the Polipo caching web proxy executable for Windows, with MSI installer.");

