
# The name of this bundle.
name = "torbutton-win32-bundle"
# Version of the bundle
version = [1, 2, 0]
# Where does it go in the repository?
location = "/bundleinfo/torbutton/win32/torbutton-win32-bundle-1.2.0.txt"
os = "win32"
arch = "x86"

# This is one of the packages in the bundle.  There can be as many as you
# like.
Package(name="torbutton",
	order=(10,10,10),
	optional=False)
# The "Glosses" describe a package's purpose in the bundle.
ShortGloss("en", "TorButton Firefox extension win32 installer.")
LongGloss("en", "This is the TorButton Firefox extension for Windows, with MSI installer.");

